{;;;; Global configuration options
 
 ;;;; Mandatory
 
 ;; :admin-email               "my@email.com"              ; a valid email address
 ;; :base-url                  "http://base-url"           ; base URL of the web service
 ;; :backends                   #{"mailgun" "mailjet"}     ; set of enabled backends

 ;;;; Optional
 
 ;; :locale                    "en"                        ; or "fr", etc.
 ;; :db-uri                    "datahike:mem:///subscribe" ; an URI to the local database
 ;; :css                       "/css/my-stylesheet.css"    ; absolute or relative stylesheet URL
 ;; :lists-exclude-regexp      nil                         ; a regular expression
 ;; :lists-include-regexp      nil                         ; a regular expression
 ;; :ui-strings                {:mailing-lists "Title"}    ; custom UI strings
 ;; :log-file                  "log-filename.txt"          ; log file name
 ;; :before-head-closing-html  "<b>...</b>"                ; add content before </head>
 ;; :after-body-beginning-html "<b>...</b>"                ; add content after <body>
 ;; :footer-html               "<b>...</b>"                ; replace <footer ...> with your HTML
 
 ;;;; Global options, possibly overriden by per-list options in :lists
 
 ;; :from                     "postmaster@domain.com"
 ;; :team                     "The name of my team"
 ;; :msg-id                   "domain.com"
 ;; :tos-url                  "http://domain.com/tos"
 ;; :return-url               "http://domain.com"
 ;; :smtp-host                "smtp.provider.org"
 ;; :smtp-port                587
 ;; :smtp-login               "my-smtp-login@provider.org"
 ;; :smtp-password            "my-smtp-password@provider.org"
 ;; :warn-every-x-subscribers 10

 ;;;; Per-list options
 
 ;; :lists {"my-list@fqdn"
 ;;         {:from                     "Your Name <email@domain.com>"
 ;;          :to                       "Your Name <email@domain.com>"
 ;;          :description              "Description of the list."
 ;;          :msg-id                   "domain.com"
 ;;          :smtp-login               "email@domain.com"
 ;;          :smtp-password            "XXX"
 ;;          :smtp-host                "..."
 ;;          :smtp-port                587
 ;;          :return-url               "http://domain.com"
 ;;          :tos-url                  "https://tos.com"
 ;;          :warn-every-x-subscribers 3}}
 }
