{;;;; Global configuration options:
 ;;
 ;; :locale               "gb-EN"
 ;; :db-uri               "datahike:mem:///subscribe"
 ;; :admin-email          "your@email.com"
 ;; :css                  "/css/your-stylesheet.css"
 ;; :lists-exclude-regexp #""
 ;; :lists-include-regexp #""
 ;; :ui-strings           {:mailing-lists "Title for this website"}
 ;;
 ;;;; Global options, possibly overriden by per-list options in :lists
 ;;
 ;; :from                 "postmaster@yourdomain"
 ;; :team                 "The name of my team"
 ;; :tos-url              "http://localhost/tos"
 ;; :smtp-host            ""
 ;; :smtp-login           ""
 ;; :smtp-password        ""
 ;; :warn-every-x-subscribers 10
 ;;
 ;; :lists {"my-list@fqdn"
 ;;         {:from          "Your Name <email@domain.com>"
 ;;          :smtp-login    "email@domain.com"
 ;;          :smtp-password "XXX"
 ;;          :tos-url       "https://tos.com"}}
 }
